:root, html[theme="light"] {
    --background-main:  #ffffff;
    --background-shade: #eeeeee;
    --background-hover: #dddddd;
    --background-error: #ffdddd;
    --border-loader:    #888888;
    --border-main:      #cccccc;
    --border-shade:     #eeeeee;
    --color-main:       #444444;
    --color-shade:      #888888;
    --color-highlight:  #000000;
    --color-success:    green;
    --color-warning:    orange;
    --color-error:      red;
    --border-radius:    5px;
    --box-shadow:       0 5px 10px rgba(0, 0, 0, 0.25);
    --header-height:    50px;
    --footer-height:    40px;
}

html[theme="dark"] {
    --background-main:  #111111;
    --background-shade: #222222;
    --background-hover: #333333;
    --background-error: #330000;
    --border-loader:    #888888;
    --border-main:      #444444;
    --border-shade:     #222222;
    --color-main:       #cccccc;
    --color-shade:      #888888;
    --color-highlight:  #ffffff;
}

html, body {
    background-color: var(--background-main);
    color: var(--color-main);
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

pre {
    border: 1px solid var(--border-shade);
    border-radius: var(--border-radius);
    font-family: 'Roboto Mono';
    font-size: 13px;
    padding: 5px;
}

label {
    align-items: center;
    display: flex;
    font-size: 0.8125rem;
    margin-bottom: 2px;
    text-transform: uppercase;
}

label:hover {
    color: var(--color-highlight);
}

form label:last-child {
    margin-bottom: 10px;
}

input[type="text"], form input[type="password"] {
    background-color: var(--background-main);
    border: 1px solid var(--border-main);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    color: var(--color-main);
    font-family: var(--font-family);
    margin-bottom: 10px;
    padding: 0 5px;
    width: 100%;
    height: 30px;
}

input[type="checkbox"] {
    margin: 2px;
    margin-right: 5px;
}

button {
    background-color: var(--background-shade);
    border: 1px solid var(--border-main);
    border-radius: var(--border-radius);
    color: var(--color-main);
    cursor: pointer;
    font-family: var(--font-family);
    height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
}

button:hover {
    background-color: var(--background-hover);
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}

th {
    color: var(--color-shade);
    font-size: 0.8125rem;
    font-weight: normal;
    padding: 5px 10px;
    text-align: left;
    text-transform: uppercase;
}

th:first-child, td:first-child {
    padding-left: 5px !important;
}

th:last-child, td:last-child {
    padding-right: 5px !important;
}

.shade {
    color: var(--color-shade);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.error {
    color: var(--color-error);
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.unavailable {
    background-color: var(--background-error);
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    overflow: auto;
}

.header
{
    background-color: var(--background-shade);
    height: var(--header-height);
    line-height: var(--header-height);
    padding: 0 15px;
}

.header span {
    cursor: pointer;
    margin: 0 5px;
}

.header span:hover {
    color: var(--color-highlight);
}

.content {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding: 0 15px;
}

.footer
{
    background-color: var(--background-shade);
    color: var(--color-shade);
    font-size: 0.8125rem;
    height: var(--footer-height);
    line-height: var(--footer-height);
    padding: 0 15px;
}

.buttons {
    display: inline-flex;
    gap: 5px;
    white-space: nowrap;
}

.checkbox {
    cursor: pointer;
}

.control {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 10px 5px;
}

.loader {
    animation: spin 1s linear infinite;
    border: 2px solid var(--border-main);
    border-radius: 50%;
    border-top: 2px solid var(--border-loader);
    margin: 20px auto;
    width: 20px;
    height: 20px;
}

.fade-in {
  animation: fadeIn linear 0.25s;
}

.fade-out {
  animation: fadeOut linear 0.25s;
}

#deviceList tbody tr {
    cursor: pointer;
}

#deviceList tbody tr:hover {
    background-color: var(--background-hover);
}

#deviceList td {
    border-top: 1px solid var(--border-shade);
    min-width: 32px;
    padding: 10px;
}

#deviceList .lastSeen {
    white-space: nowrap;
}

#deviceInfo pre {
    margin: 10px 0;
}

#deviceInfo td {
    border-top: 1px solid var(--border-shade);
    padding: 5px;
}

#deviceInfo tr:first-child td {
    border: none;
}

#deviceInfo .control {
    font-size: 1.25em;
    font-weight: 700;
}

#map {
    background-color: var(--background-main);
    border: 1px solid var(--border-shade);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    display: block;
    margin: 10px 5px;
    width: calc(100% - 10px);
    height: calc(100vh - var(--header-height) - var(--footer-height) - 60px);
}

#map text {
    cursor: pointer;
    fill: var(--color-main);
    font-size: 12px;
    paint-order: stroke;
    stroke: var(--background-main);
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-width: 2px;
}

#map text:hover {
    fill: var(--color-highlight);
}

#map .node {
    fill: var(--background-shade);
    stroke: var(--color-main);
    stroke-width: 1.5px;
}

#map .node:hover {
    stroke: var(--color-error);
}

#map .link {
    stroke: var(--border-main);
    stroke-width: 1px;
}

#map .text {
    fill: var(--color-shade);
    font-size: 9px;
}

#map .highlight {
    stroke: var(--color-warning);
}

#modal {
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    position: fixed;
    z-index: 1;
}

#modal pre {
    margin: 0;
    margin-bottom: 10px;
}

#modal .data {
    background-color: var(--background-main);
    border: 1px solid var(--border-shade);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 25px auto;
    padding: 10px;
    max-width: min(600px, calc(100% - 40px));
}

#modal .title {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 10px;
}

#toast {
    position: fixed;
    right: 25px;
    top: 25px;
    width: 300px;
    z-index: 2;
}

#toast .item {
    background-color: var(--background-main);
    border: 1px solid var(--border-shade);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
    color: var(--color-main);
    cursor: pointer;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

#toast .message {
    margin: 10px;
}

#toast .success {
    border-left: 5px solid green;
}

#toast .warning {
    border-left: 5px solid orange;
}

#toast .error {
    border-left: 5px solid red;
}

#permitJoin {
    float: right;
}

#permitJoin span {
    margin: 0;
}

#permitJoin .enabled {
    color: green;
}

#permitJoin .disabled {
    color: orange;
}

#version {
    margin: 0 5px;
}

#toggleTheme {
    cursor: pointer;
    float: right;
    margin: 0 5px;
}

#toggleTheme:hover {
    color: var(--color-main);
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
    0%   { max-height: 0px; opacity: 0; }
    100% { max-height: 100px; opacity: 1; }
}

@keyframes fadeOut {
    0%   { max-height: 100px; opacity: 1; }
    100% { max-height: 0; opacity: 0; }
}
