html {
    --border-loader: #eeeeee;
    --border-light: #cccccc;
    --border-dark: #888888;
    --border-radius: 5px;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    --header-height: 50px;
    --footer-height: 40px;
    --font-family: 'Roboto', 'Arial';
}

html, body {
    color: #444444;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

button {
    background-color: #eeeeee;
    border: 1px solid var(--border-light);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-family: var(--font-family);
    height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
}

button:hover {
    background-color: #dddddd;
}

input[type="text"], input[type="password"]  {
    border: 1px solid var(--border-light);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-family: var(--font-family);
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 5px;
}

label {
    align-items: center;
    color: #666666;    
    display: flex;
    font-size: 0.8125rem;
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}

tbody tr:hover {
    background-color: lightyellow;
}

th {
    color: #888888;
    font-size: 0.8125rem;
    font-weight: normal;
    padding: 5px 10px;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
}

td {
    border-top: 1px solid var(--border-light);
    padding: 10px;
    white-space: nowrap;
}

th:first-child, td:first-child {
    padding-left: 5px;
}

th:last-child, td:last-child {
    padding-right: 5px;
}

#modal {
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    position: fixed;
    z-index: 1;
}

#modal pre {
    border: 1px solid var(--border-light);
    border-radius: var(--border-radius);
    font-size: 10px;
    margin: 0;
    margin-bottom: 10px;
    padding: 5px;
}

#modal .data {
    background-color: #ffffff;
    border: 1px solid var(--border-dark);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 25px auto;
    padding: 15px;
    width: 600px;
}

#modal .title {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 10px;
}

#modal .buttons {
    text-align: right;
}

#toast {
    width: 300px;
    right: 25px;
    top: 25px;
    position: fixed;
    z-index: 2;
}

#toast .item {
    background-color: #ffffff;
    border: 1px solid var(--border-dark);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}

#toast .message {
    margin: 10px;
}

#toast .default {
    border-left: 5px solid green;
}

#toast .warning {
    border-left: 5px solid orange;
}

#toast .error {
    border-left: 5px solid red;
}

#showSettings {
    cursor: pointer;
    margin: 0 5px;
}

#permitJoin {
    float: right;
    cursor: pointer;
    margin: 0 5px;
}

#version {
    margin: 0 5px;
}

#permitJoin .enabled {
    color: green;
}

#permitJoin .disabled {
    color: orange;
}

.alignRight {
    text-align: right;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    overflow: auto;
}

.header
{
    background-color: #eeeeee;
    color: #444444;
    font-size: 0.95rem;
    height: var(--header-height);
    line-height: var(--header-height);
    padding: 0 15px;
}

.content {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding: 0 15px;
}

.footer
{
    background-color: #eeeeee;
    color: #666666;
    font-size: 0.8125rem;
    height: var(--footer-height);
    line-height: var(--footer-height);
    padding: 0 15px;
}

.loader {
    border: 2px solid var(--border-loader);
    border-radius: 50%;
    border-top: 2px solid var(--border-dark);
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

.fade-in {
  animation: fadeIn linear 0.25s;
}
 
.fade-out {
  animation: fadeOut linear 0.25s;
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
    0%   { max-height: 0px; opacity: 0; }
    100% { max-height: 100px; opacity: 1; }
}
 
@keyframes fadeOut {
    0%   { max-height: 100px; opacity: 1; }
    100% { max-height: 0; opacity: 0; }
}
